
.gamestats{
    margin: 5px;
    transition: all 0.2s ease-in-out;
}
.gamestats:hover{
    background-color: #f5f5f5;
    cursor: pointer;   
    flex-grow: 6;
}


.gamestats:hover > div{
    display: flex !important;
    opacity: 1;
}